body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul {
    list-style-type: none;
    display: flex;
    padding-left: 75%;
    padding-top: 2.7%;
    font-size: small;
}
li {
    padding-left: 9%; 
}
.heading {
    padding-left: 4.9%;
    padding-bottom: 1%;
}
.main-1 {
    margin: 2.5%;
    padding: 1.5%;
    padding-left: 2.5%;
    background-color: rgb(230, 229, 229);
    padding-bottom: 3%;
}
.para1 {
    width: 18%;
}
.main-2 {
    text-align: center;
    display: flex;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 2%;
}
.block-1 {
     
    width: 25%;
    padding-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
.block-1-1 {
    background-color: rgb(230, 229, 229);
    padding: 8%;
    padding-bottom: 45%;
     
}
.block-para {
    font-size: small;
    width: 68%;
    margin: auto;
    padding-bottom: 8px;
}
.link {
    color: black;
    font-size: 85%;
}